services:
  umi-archive:
    # build ステージを dev にする
    build:
      context: .
      target: dev
    volumes:
      - .:/usr/src/app:cached
    ports:
      - "5173:5173"
    # ホットリロードを使うため
    environment:
      - CHOKIDAR_USEPOLLING=true
    # ホットリロードを使うために自動再起動を有効化
    restart: always
    
    command: sh -c "npm install && npm run dev"
